In [1]:
import pandas as pd
import numpy as np

# 将原始数据处理成DRL所需的额外的数据

## 1. 提前每个请求的收益(list) 2. 需求类型（list） 3. 停车场和充电桩索引（list）

In [3]:
# 处理收益数据
req_info = pd.read_csv(r"G:\停车数据\原始数据备份\11月份处理\1206-全部信息.csv")
req_info

,Unnamed: 0,req_t,depart_t,travel_t,arr_t,parking_t,lea_t,charge_label,char_t,req_interval,depart_interval,lea_interval,arr_interval,dest,waiting_time,time_label
0,0,2022-02-16 22:53:44,2022-02-16 23:08:44,66,2022-02-17 00:14:44,1398.333333,2022-02-18 23:33:04,0,NaN,0,1,194,5,2,15.000000,3.0
1,1,2022-02-16 23:04:38,2022-02-16 23:19:38,104,2022-02-17 01:03:38,169.733333,2022-02-18 03:53:22,0,NaN,0,1,115,8,2,4.100000,1.0
2,2,2022-02-16 23:22:00,2022-02-16 23:37:00,52,2022-02-17 00:29:00,NaN,2022-02-17 01:00:00,1,31.0,1,2,8,6,3,1.733333,NaN
3,3,2022-02-16 23:24:00,2022-02-16 23:39:00,52,2022-02-17 00:31:00,NaN,2022-02-17 01:07:00,1,36.0,2,3,8,6,3,14.733333,NaN
4,4,2022-02-16 23:29:11,2022-02-16 23:44:11,17,2022-02-17 00:01:11,470.700000,2022-02-17 07:51:53,0,NaN,2,3,35,4,2,9.550000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2115,2115,2022-02-17 23:07:35,2022-02-17 23:22:35,14,2022-02-17 23:36:35,605.766667,2022-02-18 09:42:21,0,NaN,96,97,139,98,3,1.150000,3.0
2116,2116,2022-02-17 23:10:34,2022-02-17 23:25:34,25,2022-02-17 23:50:34,3.066667,2022-02-17 23:53:38,0,NaN,97,98,99,99,1,13.166667,0.0
2117,2117,2022-02-17 23:13:56,2022-02-17 23:28:56,26,2022-02-17 23:54:56,1215.216667,2022-02-18 20:10:09,0,NaN,97,98,181,100,2,9.800000,3.0
2118,2118,2022-02-17 23:15:00,2022-02-17 23:30:00,18,2022-02-17 23:48:00,NaN,2022-02-18 00:22:00,1,34.0,97,98,101,99,2,8.733333,NaN
2119,2119,2022-02-17 23:28:47,2022-02-17 23:43:47,4,2022-02-17 23:47:47,802.883333,2022-02-18 13:10:40,0,NaN,98,99,153,99,3,9.950000,3.0

In [4]:
parking_rev = req_info['parking_t'].fillna(0)
charge_rev = req_info['char_t'].fillna(0)
rev = parking_rev + charge_rev

0       1398.333333
1        169.733333
2         31.000000
3         36.000000
4        470.700000
           ...
2115     605.766667
2116       3.066667
2117    1215.216667
2118      34.000000
2119     802.883333
Length: 2120, dtype: float64

In [9]:
revenue = np.array(rev.values,dtype=int)

In [10]:
revenue = list(revenue)
revenue

[1398,
 169,
 31,
 36,
 470,
 903,
 1204,
 31,
 37,
 29,
 1151,
 42,
 4,
 908,
 1361,
 36,
 33,
 40,
 7,
 35,
 534,
 84,
 688,
 140,
 515,
 605,
 930,
 41,
 725,
 35,
 755,
 33,
 1265,
 36,
 3,
 36,
 35,
 37,
 584,
 150,
 573,
 31,
 40,
 29,
 376,
 131,
 34,
 1382,
 459,
 388,
 136,
 5,
 3,
 36,
 39,
 36,
 31,
 27,
 39,
 1397,
 38,
 857,
 75,
 1307,
 109,
 915,
 741,
 221,
 41,
 3,
 44,
 34,
 26,
 30,
 794,
 37,
 49,
 35,
 30,
 32,
 21,
 20,
 32,
 30,
 41,
 95,
 586,
 18,
 68,
 373,
 248,
 605,
 798,
 10,
 31,
 48,
 8,
 76,
 490,
 242,
 581,
 30,
 32,
 680,
 269,
 120,
 132,
 66,
 29,
 482,
 432,
 578,
 480,
 386,
 85,
 793,
 29,
 13,
 494,
 147,
 404,
 31,
 947,
 296,
 439,
 529,
 12,
 609,
 486,
 738,
 289,
 541,
 328,
 647,
 3,
 434,
 726,
 714,
 407,
 198,
 264,
 549,
 229,
 491,
 516,
 613,
 33,
 230,
 617,
 1423,
 890,
 5,
 468,
 645,
 1250,
 31,
 447,
 570,
 511,
 773,
 551,
 306,
 565,
 1419,
 363,
 143,
 35,
 191,
 5,
 22,
 431,
 1438,
 867,
 430,
 551,
 647,
 627,
 629,
 550,
 735,
 3,
 566,
 807,
 489,
 570,
 222,
 626,
 165,
 78,
 135,
 10,
 606,
 724,
 704,
 1257,
 554,
 599,
 585,
 25,
 665,
 9,
 460,
 615,
 561,
 444,
 638,
 584,
 135,
 571,
 53,
 547,
 262,
 594,
 543,
 588,
 1374,
 422,
 822,
 595,
 37,
 600,
 1323,
 510,
 534,
 595,
 745,
 590,
 830,
 727,
 729,
 561,
 445,
 1421,
 515,
 550,
 593,
 709,
 573,
 614,
 685,
 104,
 608,
 1407,
 30,
 34,
 550,
 590,
 6,
 348,
 192,
 319,
 101,
 69,
 775,
 589,
 96,
 143,
 455,
 65,
 401,
 569,
 476,
 153,
 48,
 606,
 717,
 9,
 613,
 776,
 417,
 575,
 49,
 552,
 44,
 329,
 572,
 566,
 251,
 704,
 226,
 307,
 63,
 577,
 644,
 751,
 624,
 218,
 327,
 564,
 494,
 604,
 559,
 586,
 587,
 390,
 561,
 492,
 806,
 515,
 34,
 587,
 586,
 582,
 87,
 672,
 393,
 140,
 519,
 348,
 530,
 295,
 435,
 666,
 463,
 78,
 361,
 567,
 493,
 663,
 545,
 200,
 106,
 609,
 733,
 566,
 30,
 142,
 680,
 558,
 540,
 270,
 546,
 408,
 36,
 795,
 634,
 325,
 584,
 7,
 520,
 587,
 577,
 860,
 579,
 618,
 755,
 574,
 598,
 609,
 551,
 50,
 1426,
 600,
 44,
 615,
 557,
 38,
 90,
 767,
 174,
 226,
 868,
 548,
 675,
 49,
 135,
 387,
 464,
 348,
 326,
 50,
 586,
 38,
 45,
 647,
 504,
 497,
 585,
 515,
 1430,
 515,
 566,
 558,
 610,
 6,
 467,
 380,
 499,
 483,
 530,
 116,
 819,
 39,
 168,
 508,
 127,
 185,
 102,
 626,
 341,
 468,
 441,
 334,
 25,
 553,
 8,
 135,
 451,
 614,
 686,
 667,
 113,
 42,
 756,
 202,
 76,
 541,
 534,
 542,
 518,
 321,
 29,
 507,
 707,
 132,
 495,
 556,
 761,
 567,
 687,
 35,
 550,
 449,
 585,
 202,
 259,
 149,
 556,
 592,
 171,
 329,
 1363,
 526,
 548,
 1398,
 530,
 741,
 534,
 461,
 3,
 254,
 539,
 618,
 176,
 808,
 288,
 548,
 5,
 1439,
 722,
 182,
 254,
 720,
 669,
 756,
 175,
 472,
 160,
 60,
 17,
 385,
 329,
 346,
 177,
 760,
 666,
 456,
 24,
 298,
 733,
 555,
 24,
 377,
 539,
 276,
 815,
 683,
 630,
 561,
 286,
 573,
 198,
 499,
 223,
 252,
 369,
 4,
 409,
 582,
 412,
 152,
 28,
 297,
 682,
 737,
 537,
 313,
 565,
 41,
 135,
 512,
 1421,
 531,
 463,
 434,
 479,
 366,
 403,
 564,
 119,
 74,
 199,
 457,
 460,
 702,
 262,
 20,
 551,
 487,
 157,
 489,
 313,
 14,
 3,
 101,
 548,
 660,
 16,
 542,
 1347,
 10,
 442,
 401,
 681,
 365,
 546,
 629,
 592,
 379,
 88,
 5,
 16,
 879,
 11,
 555,
 492,
 479,
 6,
 526,
 595,
 180,
 25,
 1436,
 505,
 38,
 617,
 720,
 319,
 60,
 286,
 633,
 545,
 309,
 10,
 455,
 460,
 154,
 521,
 549,
 72,
 680,
 103,
 1421,
 698,
 19,
 3,
 507,
 518,
 736,
 424,
 464,
 29,
 10,
 520,
 46,
 140,
 390,
 363,
 726,
 648,
 619,
 375,
 259,
 127,
 211,
 616,
 56,
 170,
 109,
 316,
 105,
 212,
 30,
 503,
 31,
 45,
 127,
 767,
 310,
 148,
 50,
 503,
 264,
 74,
 555,
 251,
 505,
 306,
 183,
 337,
 159,
 461,
 351,
 401,
 698,
 527,
 63,
 157,
 469,
 398,
 33,
 118,
 23,
 11,
 837,
 559,
 93,
 9,
 165,
 259,
 549,
 60,
 314,
 121,
 208,
 735,
 10,
 19,
 252,
 176,
 37,
 472,
 340,
 391,
 180,
 10,
 195,
 195,
 12,
 143,
 272,
 414,
 531,
 240,
 254,
 927,
 100,
 319,
 338,
 682,
 386,
 93,
 689,
 638,
 106,
 463,
 87,
 647,
 1435,
 4,
 425,
 474,
 207,
 297,
 673,
 257,
 1438,
 239,
 377,
 23,
 496,
 43,
 127,
 549,
 151,
 92,
 17,
 100,
 1439,
 707,
 12,
 419,
 51,
 603,
 587,
 65,
 1427,
 618,
 648,
 13,
 351,
 266,
 463,
 26,
 402,
 44,
 492,
 75,
 506,
 242,
 310,
 260,
 30,
 380,
 128,
 435,
 416,
 247,
 279,
 356,
 95,
 19,
 15,
 431,
 422,
 292,
 1438,
 456,
 9,
 84,
 438,
 1425,
 504,
 41,
 686,
 196,
 515,
 34,
 3,
 118,
 70,
 843,
 244,
 347,
 9,
 63,
 208,
 541,
 298,
 91,
 399,
 113,
 449,
 301,
 964,
 1439,
 308,
 100,
 1413,
 344,
 72,
 352,
 285,
 161,
 82,
 84,
 35,
 277,
 620,
 152,
 1283,
 533,
 604,
 653,
 139,
 28,
 113,
 212,
 52,
 96,
 192,
 122,
 22,
 4,
 27,
 536,
 61,
 437,
 427,
 378,
 417,
 488,
 398,
 730,
 551,
 63,
 8,
 406,
 1356,
 123,
 113,
 1375,
 1339,
 53,
 94,
 649,
 376,
 423,
 348,
 104,
 8,
 562,
 42,
 469,
 30,
 30,
 271,
 382,
 215,
 409,
 156,
 32,
 425,
 103,
 501,
 473,
 81,
 14,
 288,
 181,
 579,
 79,
 31,
 40,
 21,
 1417,
 181,
 677,
 538,
 25,
 21,
 189,
 236,
 31,
 193,
 38,
 590,
 3,
 18,
 8,
 136,
 593,
 416,
 7,
 360,
 396,
 97,
 70,
 26,
 1436,
 427,
 402,
 10,
 99,
 366,
 173,
 382,
 492,
 599,
 63,
 19,
 124,
 46,
 575,
 39,
 115,
 260,
 599,
 125,
 86,
 330,
 434,
 1357,
 134,
 418,
 460,
 132,
 553,
 429,
 697,
 1303,
 178,
 34,
 1422,
 74,
 1424,
 482,
 131,
 309,
 303,
 36,
 31,
 71,
 15,
 16,
 52,
 1374,
 130,
 179,
 635,
 71,
 520,
 175,
 146,
 4,
 781,
 74,
 21,
 417,
 407,
 344,
 353,
 17,
 403,
 386,
 26,
 3,
 66,
 1257,
 123,
 764,
 190,
 508,
 28,
 236,
 258,
 419,
 655,
 323,
 288,
 32,
 30,
 191,
 72,
 419,
 63,
 67,
 49,
 39,
 75,
 85,
 228,
 30,
 205,
 67,
 1165,
 43,
 44,
 87,
 29,
 252,
 177,
 9,
 302,
 73,
 6,
 28,
 80,
 293,
 33,
 145,
 48,
 100,
 50,
 465,
 138,
 344,
 543,
 433,
 259,
 ...]

In [12]:
list(np.array(req_info['charge_label'],dtype=int))

[0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [14]:
from collections import defaultdict

dicts = defaultdict(lambda: np.zeros(3))

In [16]:
print(dicts.items())

dict_items([])

In [17]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [93]:
key_dict = {'a': tuple(np.array([[1,5,6],[2,3,4]])), 'b': 2, 'c': 3}
frozen_key = frozenset(key_dict.items())
frozen_key

TypeError: unhashable type: 'numpy.ndarray'

In [98]:
test_list = []
for item in key_dict.items():
    test_list.append(item)

In [101]:
test_list[0]

('a', (array([1, 5, 6]), array([2, 3, 4])))

In [66]:
new_dict = {frozen_key:"values","test":"test_value"}

In [84]:
dict(list((new_dict.keys()))[0])

{'b': 2, 'c': 3, 'a': (1, 5, 6)}

In [79]:
key = [{'a': ([1, 5, 6]), 'b': 2, 'c': 3},{'a': 2, 'b': 2, 'c': 3},{'a': 1, 'b': 5, 'c': 3}]

In [83]:
{'a': ([1, 5, 6]), 'b': 2, 'c': 3} in key

True

In [78]:
import numpy as np
type(np.array(tuple([[1,2,3],[4,5,6]])))

numpy.ndarray

In [91]:
tuple(np.array([[1,5,6],[2,3,4]]))

(array([1, 5, 6]), array([2, 3, 4]))

# 0119 计算每个请求的收益

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
os.getcwd()

'G:\\纵向\\小论文\\停车分配\\DRL'

In [6]:
req_info = pd.read_csv(r"demand/1206-全部信息.csv")
req_info

,Unnamed: 0,req_t,depart_t,travel_t,arr_t,parking_t,lea_t,charge_label,char_t,req_interval,depart_interval,lea_interval,arr_interval,dest,waiting_time,time_label
0,0,2022-02-16 22:53:44,2022-02-16 23:08:44,66,2022-02-17 00:14:44,1398.333333,2022-02-18 23:33:04,0,NaN,0,1,194,5,2,15.000000,3.0
1,1,2022-02-16 23:04:38,2022-02-16 23:19:38,104,2022-02-17 01:03:38,169.733333,2022-02-18 03:53:22,0,NaN,0,1,115,8,2,4.100000,1.0
2,2,2022-02-16 23:22:00,2022-02-16 23:37:00,52,2022-02-17 00:29:00,NaN,2022-02-17 01:00:00,1,31.0,1,2,8,6,3,1.733333,NaN
3,3,2022-02-16 23:24:00,2022-02-16 23:39:00,52,2022-02-17 00:31:00,NaN,2022-02-17 01:07:00,1,36.0,2,3,8,6,3,14.733333,NaN
4,4,2022-02-16 23:29:11,2022-02-16 23:44:11,17,2022-02-17 00:01:11,470.700000,2022-02-17 07:51:53,0,NaN,2,3,35,4,2,9.550000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2115,2115,2022-02-17 23:07:35,2022-02-17 23:22:35,14,2022-02-17 23:36:35,605.766667,2022-02-18 09:42:21,0,NaN,96,97,139,98,3,1.150000,3.0
2116,2116,2022-02-17 23:10:34,2022-02-17 23:25:34,25,2022-02-17 23:50:34,3.066667,2022-02-17 23:53:38,0,NaN,97,98,99,99,1,13.166667,0.0
2117,2117,2022-02-17 23:13:56,2022-02-17 23:28:56,26,2022-02-17 23:54:56,1215.216667,2022-02-18 20:10:09,0,NaN,97,98,181,100,2,9.800000,3.0
2118,2118,2022-02-17 23:15:00,2022-02-17 23:30:00,18,2022-02-17 23:48:00,NaN,2022-02-18 00:22:00,1,34.0,97,98,101,99,2,8.733333,NaN
2119,2119,2022-02-17 23:28:47,2022-02-17 23:43:47,4,2022-02-17 23:47:47,802.883333,2022-02-18 13:10:40,0,NaN,98,99,153,99,3,9.950000,3.0

In [7]:
charge_label = req_info['charge_label']
rmk = pd.read_csv(r"demand/1206-rmk.csv")
fee = pd.read_csv(r"demand/1128_charge_fee.csv")

In [8]:
rmk

,0,1,2,3,4,5,6,7,8,9,...,185,186,187,188,189,190,191,192,193,194
0,0,0,0,0,0,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2115,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2116,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2117,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2118,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
fee = fee[:195]
fee

        0
0    0.69
1    0.69
2    0.69
3    0.69
4    0.69
..    ...
190  0.69
191  0.69
192  0.69
193  0.69
194  0.69

[195 rows x 1 columns]

In [43]:
revenue = []
for i in range(2120):
    revenue.append([(1 + 1.5* np.sum(rmk.iloc[i,:]) + charge_label[i] * np.matmul(rmk.iloc[i,:],fee/4)).values[0],charge_label[i]])

C:\Users\11249\AppData\Local\Temp\ipykernel_22500\1649542379.py:3: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  revenue.append([(1 + 1.5* np.sum(rmk.iloc[i,:]) + charge_label[i] * np.matmul(rmk.iloc[i,:],fee/4)).values[0],charge_label[i]])

In [44]:
revenue

[[286.0, 0],
 [163.0, 0],
 [6.0175, 1],
 [6.0175, 1],
 [49.0, 0],
 [92.5, 0],
 [122.5, 0],
 [6.0175, 1],
 [7.6899999999999995, 1],
 [6.0175, 1],
 [116.5, 0],
 [151.0, 0],
 [2.5, 0],
 [94.0, 0],
 [281.5, 0],
 [6.0175, 1],
 [6.0175, 1],
 [7.6899999999999995, 1],
 [2.5, 0],
 [6.0175, 1],
 [200.5, 0],
 [154.0, 0],
 [71.5, 0],
 [16.0, 0],
 [55.0, 0],
 [62.5, 0],
 [239.5, 0],
 [7.6899999999999995, 1],
 [76.0, 0],
 [5.5, 0],
 [77.5, 0],
 [6.0175, 1],
 [272.5, 0],
 [7.6899999999999995, 1],
 [2.5, 0],
 [7.6899999999999995, 1],
 [6.0175, 1],
 [6.0175, 1],
 [205.0, 0],
 [17.5, 0],
 [203.5, 0],
 [6.0175, 1],
 [6.0175, 1],
 [6.0175, 1],
 [184.0, 0],
 [14.5, 0],
 [6.0175, 1],
 [142.0, 0],
 [191.5, 0],
 [185.5, 0],
 [16.0, 0],
 [2.5, 0],
 [2.5, 0],
 [6.0175, 1],
 [7.6899999999999995, 1],
 [7.6899999999999995, 1],
 [6.0175, 1],
 [5.5, 0],
 [7.6899999999999995, 1],
 [142.0, 0],
 [6.0175, 1],
 [88.0, 0],
 [10.0, 0],
 [133.0, 0],
 [157.0, 0],
 [238.0, 0],
 [220.0, 0],
 [169.0, 0],
 [7.6899999999999995, 1],
 [148.0, 0],
 [7.6899999999999995, 1],
 [6.0175, 1],
 [6.0175, 1],
 [149.5, 0],
 [82.0, 0],
 [7.6899999999999995, 1],
 [7.0, 0],
 [7.6899999999999995, 1],
 [6.0175, 1],
 [6.0175, 1],
 [4.0, 0],
 [4.0, 0],
 [6.0175, 1],
 [6.0175, 1],
 [6.0175, 1],
 [13.0, 0],
 [206.5, 0],
 [4.0, 0],
 [10.0, 0],
 [182.5, 0],
 [172.0, 0],
 [206.5, 0],
 [82.0, 0],
 [146.5, 0],
 [6.0175, 1],
 [152.5, 0],
 [2.5, 0],
 [154.0, 0],
 [196.0, 0],
 [28.0, 0],
 [61.0, 0],
 [6.0175, 1],
 [6.0175, 1],
 [215.5, 0],
 [29.5, 0],
 [14.5, 0],
 [160.0, 0],
 [152.5, 0],
 [6.0175, 1],
 [194.5, 0],
 [46.0, 0],
 [59.5, 0],
 [194.5, 0],
 [41.5, 0],
 [10.0, 0],
 [226.0, 0],
 [6.0175, 1],
 [148.0, 0],
 [52.0, 0],
 [161.5, 0],
 [187.0, 0],
 [6.0175, 1],
 [98.5, 0],
 [176.5, 0],
 [190.0, 0],
 [199.0, 0],
 [4.0, 0],
 [208.0, 0],
 [50.5, 0],
 [76.0, 0],
 [176.5, 0],
 [56.5, 0],
 [35.5, 0],
 [211.0, 0],
 [4.0, 0],
 [190.0, 0],
 [74.5, 0],
 [218.5, 0],
 [43.0, 0],
 [166.0, 0],
 [28.0, 0],
 [202.0, 0],
 [26.5, 0],
 [194.5, 0],
 [53.5, 0],
 [208.0, 0],
 [6.0175, 1],
 [169.0, 0],
 [208.0, 0],
 [145.0, 0],
 [236.5, 0],
 [4.0, 0],
 [49.0, 0],
 [67.0, 0],
 [127.0, 0],
 [6.0175, 1],
 [191.5, 0],
 [203.5, 0],
 [53.5, 0],
 [79.0, 0],
 [58.0, 0],
 [32.5, 0],
 [59.5, 0],
 [145.0, 0],
 [182.5, 0],
 [17.5, 0],
 [7.6899999999999995, 1],
 [20.5, 0],
 [146.5, 0],
 [4.0, 0],
 [46.0, 0],
 [146.5, 0],
 [89.5, 0],
 [188.5, 0],
 [58.0, 0],
 [211.0, 0],
 [65.5, 0],
 [65.5, 0],
 [200.5, 0],
 [220.0, 0],
 [2.5, 0],
 [59.5, 0],
 [83.5, 0],
 [50.5, 0],
 [203.5, 0],
 [23.5, 0],
 [209.5, 0],
 [19.0, 0],
 [10.0, 0],
 [16.0, 0],
 [2.5, 0],
 [64.0, 0],
 [76.0, 0],
 [217.0, 0],
 [128.5, 0],
 [58.0, 0],
 [205.0, 0],
 [61.0, 0],
 [148.0, 0],
 [70.0, 0],
 [4.0, 0],
 [47.5, 0],
 [64.0, 0],
 [202.0, 0],
 [191.5, 0],
 [67.0, 0],
 [205.0, 0],
 [160.0, 0],
 [59.5, 0],
 [8.5, 0],
 [58.0, 0],
 [29.5, 0],
 [62.5, 0],
 [200.5, 0],
 [206.5, 0],
 [140.5, 0],
 [190.0, 0],
 [85.0, 0],
 [205.0, 0],
 [7.865, 1],
 [62.5, 0],
 [134.5, 0],
 [53.5, 0],
 [56.5, 0],
 [205.0, 0],
 [220.0, 0],
 [61.0, 0],
 [230.5, 0],
 [76.0, 0],
 [76.0, 0],
 [58.0, 0],
 [47.5, 0],
 [145.0, 0],
 [197.5, 0],
 [200.5, 0],
 [62.5, 0],
 [73.0, 0],
 [59.5, 0],
 [64.0, 0],
 [215.5, 0],
 [157.0, 0],
 [64.0, 0],
 [143.5, 0],
 [6.1925, 1],
 [5.5, 0],
 [202.0, 0],
 [62.5, 0],
 [146.5, 0],
 [181.0, 0],
 [22.0, 0],
 [179.5, 0],
 [157.0, 0],
 [10.0, 0],
 [224.5, 0],
 [61.0, 0],
 [155.5, 0],
 [160.0, 0],
 [193.0, 0],
 [152.5, 0],
 [187.0, 0],
 [203.5, 0],
 [194.5, 0],
 [161.5, 0],
 [8.5, 0],
 [62.5, 0],
 [218.5, 0],
 [2.5, 0],
 [64.0, 0],
 [224.5, 0],
 [44.5, 0],
 [205.0, 0],
 [151.0, 0],
 [58.0, 0],
 [7.0, 0],
 [35.5, 0],
 [203.5, 0],
 [202.0, 0],
 [28.0, 0],
 [73.0, 0],
 [169.0, 0],
 [176.5, 0],
 [8.5, 0],
 [59.5, 0],
 [67.0, 0],
 [221.5, 0],
 [65.5, 0],
 [25.0, 0],
 [35.5, 0],
 [203.5, 0],
 [52.0, 0],
 [206.5, 0],
 [58.0, 0],
 [205.0, 0],
 [61.0, 0],
 [41.5, 0],
 [203.5, 0],
 [52.0, 0],
 [226.0, 0],
 [197.5, 0],
 [5.5, 0],
 [205.0, 0],
 [205.0, 0],
 [205.0, 0],
 [154.0, 0],
 [212.5, 0],
 [185.5, 0],
 [160.0, 0],
 [55.0, 0],
 [181.0, 0],
 [200.5, 0],
 [176.5, 0],
 [46.0, 0],
 [70.0, 0],
 [49.0, 0],
 [10.0, 0],
 [40.0, 0],
 [202.0, 0],
 [196.0, 0],
 [68.5, 0],
 [56.5, 0],
 [167.5, 0],
 [13.0, 0],
 [62.5, 0],
 [220.0, 0],
 [58.0, 0],
 [6.3675, 1],
 [16.0, 0],
 [214.0, 0],
 [202.0, 0],
 [200.5, 0],
 [173.5, 0],
 [56.5, 0],
 [44.5, 0],
 [8.215, 1],
 [226.0, 0],
 [211.0, 0],
 [179.5, 0],
 [61.0, 0],
 [4.0, 0],
 [55.0, 0],
 [61.0, 0],
 [203.5, 0],
 [232.0, 0],
 [203.5, 0],
 [65.5, 0],
 [79.0, 0],
 [59.5, 0],
 [206.5, 0],
 [64.0, 0],
 [58.0, 0],
 [7.0, 0],
 [145.0, 0],
 [62.5, 0],
 [151.0, 0],
 [208.0, 0],
 [202.0, 0],
 [5.5, 0],
 [155.5, 0],
 [223.0, 0],
 [163.0, 0],
 [25.0, 0],
 [89.5, 0],
 [200.5, 0],
 [214.0, 0],
 [7.0, 0],
 [160.0, 0],
 [41.5, 0],
 [49.0, 0],
 [182.5, 0],
 [179.5, 0],
 [151.0, 0],
 [205.0, 0],
 [5.5, 0],
 [7.0, 0],
 [67.0, 0],
 [52.0, 0],
 [196.0, 0],
 [61.0, 0],
 [53.5, 0],
 [146.5, 0],
 [197.5, 0],
 [203.5, 0],
 [202.0, 0],
 [206.5, 0],
 [148.0, 0],
 [193.0, 0],
 [40.0, 0],
 [52.0, 0],
 [50.5, 0],
 [55.0, 0],
 [14.5, 0],
 [85.0, 0],
 [6.5425, 1],
 [19.0, 0],
 [52.0, 0],
 [158.5, 0],
 [22.0, 0],
 [13.0, 0],
 [208.0, 0],
 [37.0, 0],
 [193.0, 0],
 [46.0, 0],
 [35.5, 0],
 [5.5, 0],
 [58.0, 0],
 [2.5, 0],
 [160.0, 0],
 [193.0, 0],
 [64.0, 0],
 [215.5, 0],
 [212.5, 0],
 [13.0, 0],
 [8.59, 1],
 [77.5, 0],
 [167.5, 0],
 [10.0, 0],
 [56.5, 0],
 [199.0, 0],
 [56.5, 0],
 [53.5, 0],
 [179.5, 0],
 [149.5, 0],
 [53.5, 0],
 [73.0, 0],
 [16.0, 0],
 [52.0, 0],
 [202.0, 0],
 [79.0, 0],
 [58.0, 0],
 [215.5, 0],
 [6.5425, 1],
 [58.0, 0],
 [191.5, 0],
 [205.0, 0],
 [166.0, 0],
 [28.0, 0],
 [161.5, 0],
 [202.0, 0],
 [61.0, 0],
 [20.5, 0],
 [35.5, 0],
 [139.0, 0],
 [199.0, 0],
 [200.5, 0],
 [142.0, 0],
 [55.0, 0],
 [77.5, 0],
 [199.0, 0],
 [191.5, 0],
 [2.5, 0],
 [28.0, 0],
 [200.5, 0],
 [64.0, 0],
 [19.0, 0],
 [83.5, 0],
 [31.0, 0],
 [58.0, 0],
 [146.5, 0],
 [146.5, 0],
 [74.5, 0],
 [20.5, 0],
 [172.0, 0],
 [74.5, 0],
 [70.0, 0],
 [79.0, 0],
 [164.5, 0],
 [194.5, 0],
 [163.0, 0],
 [8.5, 0],
 [4.0, 0],
 [41.5, 0],
 [179.5, 0],
 [181.0, 0],
 [20.5, 0],
 [79.0, 0],
 [70.0, 0],
 [47.5, 0],
 [5.5, 0],
 [176.5, 0],
 [76.0, 0],
 [58.0, 0],
 [4.0, 0],
 [184.0, 0],
 [56.5, 0],
 [31.0, 0],
 [83.5, 0],
 [215.5, 0],
 [65.5, 0],
 [203.5, 0],
 [31.0, 0],
 [61.0, 0],
 [23.5, 0],
 [196.0, 0],
 [169.0, 0],
 [28.0, 0],
 [182.5, 0],
 [2.5, 0],
 [43.0, 0],
 [61.0, 0],
 [188.5, 0],
 [17.5, 0],
 [4.0, 0],
 [32.5, 0],
 [214.0, 0],
 [76.0, 0],
 [200.5, 0],
 [34.0, 0],
 [202.0, 0],
 [151.0, 0],
 [160.0, 0],
 [197.5, 0],
 [145.0, 0],
 [55.0, 0],
 [49.0, 0],
 [190.0, 0],
 [50.5, 0],
 [182.5, 0],
 [41.5, 0],
 [202.0, 0],
 [14.5, 0],
 [10.0, 0],
 [167.5, 0],
 [193.0, 0],
 [193.0, 0],
 [215.5, 0],
 [29.5, 0],
 [149.5, 0],
 [58.0, 0],
 [50.5, 0],
 [161.5, 0],
 [50.5, 0],
 [178.0, 0],
 [146.5, 0],
 [2.5, 0],
 [13.0, 0],
 [200.5, 0],
 [212.5, 0],
 [4.0, 0],
 [58.0, 0],
 [137.5, 0],
 [2.5, 0],
 [46.0, 0],
 [43.0, 0],
 [70.0, 0],
 [40.0, 0],
 [202.0, 0],
 [209.5, 0],
 [62.5, 0],
 [184.0, 0],
 [155.5, 0],
 [2.5, 0],
 [148.0, 0],
 [232.0, 0],
 [4.0, 0],
 [58.0, 0],
 [196.0, 0],
 [194.5, 0],
 [2.5, 0],
 [56.5, 0],
 [206.5, 0],
 [20.5, 0],
 [5.5, 0],
 [146.5, 0],
 [53.5, 0],
 [8.54, 1],
 [208.0, 0],
 [218.5, 0],
 [179.5, 0],
 [10.0, 0],
 [175.0, 0],
 [209.5, 0],
 [58.0, 0],
 [178.0, 0],
 [4.0, 0],
 [193.0, 0],
 [49.0, 0],
 [17.5, 0],
 [199.0, 0],
 [200.5, 0],
 [10.0, 0],
 [215.5, 0],
 [157.0, 0],
 [145.0, 0],
 [71.5, 0],
 [4.0, 0],
 [2.5, 0],
 [53.5, 0],
 [53.5, 0],
 [76.0, 0],
 [190.0, 0],
 [49.0, 0],
 [6.6925, 1],
 [2.5, 0],
 [55.0, 0],
 [7.0, 0],
 [160.0, 0],
 [187.0, 0],
 [182.5, 0],
 [76.0, 0],
 [67.0, 0],
 [64.0, 0],
 [184.0, 0],
 [172.0, 0],
 [14.5, 0],
 [23.5, 0],
 [208.0, 0],
 [151.0, 0],
 [164.5, 0],
 [13.0, 0],
 [34.0, 0],
 [157.0, 0],
 [23.5, 0],
 [5.5, 0],
 [52.0, 0],
 [5.5, 0],
 [7.0, 0],
 [158.5, 0],
 [223.0, 0],
 [34.0, 0],
 [16.0, 0],
 [7.0, 0],
 [52.0, 0],
 [173.5, 0],
 [154.0, 0],
 [58.0, 0],
 [28.0, 0],
 [52.0, 0],
 [32.5, 0],
 [166.0, 0],
 [181.0, 0],
 [19.0, 0],
 [49.0, 0],
 [181.0, 0],
 [41.5, 0],
 [215.5, 0],
 [199.0, 0],
 [8.5, 0],
 [17.5, 0],
 [50.5, 0],
 [187.0, 0],
 [5.5, 0],
 [14.5, 0],
 [149.5, 0],
 [4.0, 0],
 [86.5, 0],
 [59.5, 0],
 [11.5, 0],
 [2.5, 0],
 [19.0, 0],
 [28.0, 0],
 [202.0, 0],
 [8.5, 0],
 [34.0, 0],
 [158.5, 0],
 [23.5, 0],
 [76.0, 0],
 [148.0, 0],
 [4.0, 0],
 [28.0, 0],
 [19.0, 0],
 [7.0, 0],
 [49.0, 0],
 [37.0, 0],
 [41.5, 0],
 [20.5, 0],
 [148.0, 0],
 [22.0, 0],
 [22.0, 0],
 [4.0, 0],
 [16.0, 0],
 [173.5, 0],
 [44.5, 0],
 [200.5, 0],
 [170.5, 0],
 [172.0, 0],
 [95.5, 0],
 [13.0, 0],
 [34.0, 0],
 [37.0, 0],
 [214.0, 0],
 [40.0, 0],
 [11.5, 0],
 [71.5, 0],
 [67.0, 0],
 [13.0, 0],
 [49.0, 0],
 [10.0, 0],
 [211.0, 0],
 [146.5, 0],
 [2.5, 0],
 [44.5, 0],
 [50.5, 0],
 [167.5, 0],
 [31.0, 0],
 [70.0, 0],
 [28.0, 0],
 [146.5, 0],
 [26.5, 0],
 [185.5, 0],
 [4.0, 0],
 [52.0, 0],
 [5.5, 0],
 [16.0, 0],
 [200.5, 0],
 [163.0, 0],
 [11.5, 0],
 [5.5, 0],
 [157.0, 0],
 [146.5, 0],
 [218.5, 0],
 [4.0, 0],
 [188.5, 0],
 [7.0, 0],
 [62.5, 0],
 [205.0, 0],
 [152.5, 0],
 [146.5, 0],
 [64.0, 0],
 [211.0, 0],
 [148.0, 0],
 [37.0, 0],
 [29.5, 0],
 [49.0, 0],
 [149.5, 0],
 [43.0, 0],
 [7.0, 0],
 [52.0, 0],
 [154.0, 0],
 [52.0, 0],
 [28.0, 0],
 [178.0, 0],
 [173.5, 0],
 [6.6925, 1],
 [40.0, 0],
 [14.5, 0],
 [190.0, 0],
 [44.5, 0],
 [172.0, 0],
 [175.0, 0],
 [182.5, 0],
 [155.5, 0],
 [4.0, 0],
 [4.0, 0],
 [46.0, 0],
 [188.5, 0],
 [32.5, 0],
 [146.5, 0],
 [47.5, 0],
 [4.0, 0],
 [155.5, 0],
 [46.0, 0],
 [145.0, 0],
 [197.5, 0],
 [151.0, 0],
 [215.5, 0],
 [166.0, 0],
 [55.0, 0],
 [149.5, 0],
 [2.5, 0],
 [14.5, 0],
 [154.0, 0],
 [86.5, 0],
 [26.5, 0],
 [181.0, 0],
 [2.5, 0],
 [152.5, 0],
 [167.5, 0],
 [56.5, 0],
 [176.5, 0],
 [11.5, 0],
 [185.5, 0],
 [14.5, 0],
 [191.5, 0],
 [176.5, 0],
 [98.5, 0],
 [146.5, 0],
 [34.0, 0],
 [157.0, 0],
 [143.5, 0],
 [181.0, 0],
 [10.0, 0],
 [38.5, 0],
 [175.0, 0],
 [19.0, 0],
 [11.5, 0],
 [10.0, 0],
 [149.5, 0],
 [31.0, 0],
 [64.0, 0],
 [161.5, 0],
 [131.5, 0],
 [199.0, 0],
 [62.5, 0],
 [211.0, 0],
 [16.0, 0],
 [149.5, 0],
 [13.0, 0],
 [23.5, 0],
 [152.5, 0],
 [11.5, 0],
 [22.0, 0],
 [16.0, 0],
 [5.5, 0],
 [2.5, 0],
 [4.0, 0],
 [199.0, 0],
 [8.5, 0],
 [190.0, 0],
 [190.0, 0],
 [40.0, 0],
 [43.0, 0],
 [196.0, 0],
 [43.0, 0],
 [220.0, 0],
 [202.0, 0],
 [8.5, 0],
 [146.5, 0],
 [187.0, 0],
 [139.0, 0],
 [16.0, 0],
 [13.0, 0],
 [140.5, 0],
 [137.5, 0],
 [8.5, 0],
 [11.5, 0],
 [67.0, 0],
 [184.0, 0],
 [188.5, 0],
 [181.0, 0],
 [13.0, 0],
 [2.5, 0],
 [203.5, 0],
 [6.6925, 1],
 [50.5, 0],
 [5.5, 0],
 [149.5, 0],
 [31.0, 0],
 [184.0, 0],
 [25.0, 0],
 [43.0, 0],
 [161.5, 0],
 [6.4675, 1],
 [188.5, 0],
 [13.0, 0],
 [52.0, 0],
 [194.5, 0],
 [155.5, 0],
 [4.0, 0],
 [175.0, 0],
 [164.5, 0],
 [203.5, 0],
 [154.0, 0],
 [5.5, 0],
 [6.4675, 1],
 [5.5, 0],
 [143.5, 0],
 [164.5, 0],
 [70.0, 0],
 [200.5, 0],
 [4.0, 0],
 [4.0, 0],
 [20.5, 0],
 [25.0, 0],
 [6.0175, 1],
 [166.0, 0],
 [5.5, 0],
 [62.5, 0],
 [2.5, 0],
 [4.0, 0],
 [2.5, 0],
 [160.0, 0],
 [206.5, 0],
 [44.5, 0],
 [148.0, 0],
 [38.5, 0],
 [187.0, 0],
 [11.5, 0],
 [154.0, 0],
 [5.5, 0],
 [146.5, 0],
 [44.5, 0],
 [187.0, 0],
 [4.0, 0],
 [155.5, 0],
 [184.0, 0],
 [20.5, 0],
 [40.0, 0],
 [52.0, 0],
 [62.5, 0],
 [152.5, 0],
 [4.0, 0],
 [158.5, 0],
 [7.0, 0],
 [61.0, 0],
 [7.0, 0],
 [14.5, 0],
 [173.5, 0],
 [62.5, 0],
 [160.0, 0],
 [11.5, 0],
 [179.5, 0],
 [188.5, 0],
 [139.0, 0],
 [16.0, 0],
 [188.5, 0],
 [193.0, 0],
 [16.0, 0],
 [58.0, 0],
 [188.5, 0],
 [73.0, 0],
 [133.0, 0],
 [20.5, 0],
 [7.0, 0],
 [143.5, 0],
 [10.0, 0],
 [145.0, 0],
 [194.5, 0],
 [16.0, 0],
 [32.5, 0],
 [178.0, 0],
 [6.0175, 1],
 [5.5, 0],
 [10.0, 0],
 [4.0, 0],
 [4.0, 0],
 [152.5, 0],
 [139.0, 0],
 [16.0, 0],
 [20.5, 0],
 [67.0, 0],
 [154.0, 0],
 [197.5, 0],
 [163.0, 0],
 [16.0, 0],
 [4.0, 0],
 [80.5, 0],
 [10.0, 0],
 [4.0, 0],
 [188.5, 0],
 [43.0, 0],
 [181.0, 0],
 [182.5, 0],
 [4.0, 0],
 [187.0, 0],
 [185.5, 0],
 [5.5, 0],
 [148.0, 0],
 [154.0, 0],
 [128.5, 0],
 [158.5, 0],
 [79.0, 0],
 [166.0, 0],
 [197.5, 0],
 [5.5, 0],
 [26.5, 0],
 [28.0, 0],
 [44.5, 0],
 [212.5, 0],
 [34.0, 0],
 [31.0, 0],
 [7.0, 0],
 [6.0175, 1],
 [22.0, 0],
 [154.0, 0],
 [188.5, 0],
 [8.5, 0],
 [10.0, 0],
 [8.5, 0],
 [7.6899999999999995, 1],
 [154.0, 0],
 [10.0, 0],
 [26.5, 0],
 [6.0175, 1],
 [22.0, 0],
 [8.5, 0],
 [118.0, 0],
 [7.6899999999999995, 1],
 [7.6899999999999995, 1],
 [11.5, 0],
 [5.5, 0],
 [28.0, 0],
 [20.5, 0],
 [2.5, 0],
 [32.5, 0],
 [154.0, 0],
 [4.0, 0],
 [6.0175, 1],
 [10.0, 0],
 [176.5, 0],
 [6.0175, 1],
 [161.5, 0],
 [7.0, 0],
 [157.0, 0],
 [7.0, 0],
 [49.0, 0],
 [161.5, 0],
 [181.0, 0],
 [56.5, 0],
 [190.0, 0],
 [28.0, 0],
 ...]

In [41]:
req_info

,Unnamed: 0,req_t,depart_t,travel_t,arr_t,parking_t,lea_t,charge_label,char_t,req_interval,depart_interval,lea_interval,arr_interval,dest,waiting_time,time_label
0,0,2022-02-16 22:53:44,2022-02-16 23:08:44,66,2022-02-17 00:14:44,1398.333333,2022-02-18 23:33:04,0,NaN,0,1,194,5,2,15.000000,3.0
1,1,2022-02-16 23:04:38,2022-02-16 23:19:38,104,2022-02-17 01:03:38,169.733333,2022-02-18 03:53:22,0,NaN,0,1,115,8,2,4.100000,1.0
2,2,2022-02-16 23:22:00,2022-02-16 23:37:00,52,2022-02-17 00:29:00,NaN,2022-02-17 01:00:00,1,31.0,1,2,8,6,3,1.733333,NaN
3,3,2022-02-16 23:24:00,2022-02-16 23:39:00,52,2022-02-17 00:31:00,NaN,2022-02-17 01:07:00,1,36.0,2,3,8,6,3,14.733333,NaN
4,4,2022-02-16 23:29:11,2022-02-16 23:44:11,17,2022-02-17 00:01:11,470.700000,2022-02-17 07:51:53,0,NaN,2,3,35,4,2,9.550000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2115,2115,2022-02-17 23:07:35,2022-02-17 23:22:35,14,2022-02-17 23:36:35,605.766667,2022-02-18 09:42:21,0,NaN,96,97,139,98,3,1.150000,3.0
2116,2116,2022-02-17 23:10:34,2022-02-17 23:25:34,25,2022-02-17 23:50:34,3.066667,2022-02-17 23:53:38,0,NaN,97,98,99,99,1,13.166667,0.0
2117,2117,2022-02-17 23:13:56,2022-02-17 23:28:56,26,2022-02-17 23:54:56,1215.216667,2022-02-18 20:10:09,0,NaN,97,98,181,100,2,9.800000,3.0
2118,2118,2022-02-17 23:15:00,2022-02-17 23:30:00,18,2022-02-17 23:48:00,NaN,2022-02-18 00:22:00,1,34.0,97,98,101,99,2,8.733333,NaN
2119,2119,2022-02-17 23:28:47,2022-02-17 23:43:47,4,2022-02-17 23:47:47,802.883333,2022-02-18 13:10:40,0,NaN,98,99,153,99,3,9.950000,3.0

In [46]:
req_info['dest'][0]

2